<section id="hero" class="hero">
    <img class="lazy" data-original="{{theme.link}}/assets/img/cantiga_teatral.jpg" alt="" />
    <noscript><img src="{{theme.link}}/assets/img/cantiga_teatral.jpg" alt="" /></noscript>
    <div class="hero__logo">
        <img class="lazy" data-original="{{theme.link}}/assets/img/cantiga.svg" alt="" />
        <noscript><img src="{{theme.link}}/assets/img/cantiga.svg" alt="" /></noscript>
    </div>
</section>