<section id="hero" class="hero">
    <img class="lazy" data-original="{{theme.link}}/assets/img/cantiga_teatral.jpg" width="2400" height="1004"/>
    <noscript><img src="{{theme.link}}/assets/img/cantiga_teatral.jpg"/></noscript>
    <div class="hero__logo">
        <img class="lazy" data-original="{{theme.link}}/assets/img/cantiga.svg" width="600" height="111"/>
        <noscript><img src="{{theme.link}}/assets/img/cantiga.svg"/></noscript>
    </div>
</section>