<section id="hero" class="hero">
    <img src="{{theme.link}}/assets/img/cantiga_teatral.jpg" alt="">
    <div class="hero__logo">
        <img src="{{theme.link}}/assets/img/cantiga.svg" alt="cantiga teatral">
    </div>
</section>