<section id="hero" class="hero">
    <img class="lazy" data-original="{{theme.link}}/assets/img/cantiga_teatral.jpg" alt="cantiga teatral" />
    <noscript><img src="{{theme.link}}/assets/img/cantiga_teatral.jpg" alt="cantiga teatral" /></noscript>
    <div class="hero__logo">
        <img class="lazy" data-original="{{theme.link}}/assets/img/cantiga.svg" alt="cantiga teatral logo" />
        <noscript><img src="{{theme.link}}/assets/img/cantiga.svg" alt="cantiga teatral logo" /></noscript>
    </div>
</section>