<!--[if lte IE 9]>
<div class="legacy-warning">
    <div class="legacy-warning__wrapper">
        <div class="legacy-warning__content">
            <h2>Sorry</h2>
            <p>
                Your browser is too old to optimally experience this website.
                <a href="http://browsehappy.com/">Upgrade your browser</a> to improve your experience.
            </p>
        </div>
    </div>
</div>
<![endif]-->
