  <div class="map block block--medium">
    <img class="map__image" src="//maps.googleapis.com/maps/api/staticmap?center={{location.lat}},{{location.lng}}&amp;key=AIzaSyDhTuXbe0SWdE1lknDnE7Fg0qGaXV3ZgRwA&amp;zoom=14&amp;size=720x370&amp;markers=color:orange%7C{{location.lat}},{{location.lng}}&amp;style=feature:all|saturation:-100" width="720" height="370" alt="location-map">
  </div>
