<nav>
    <ul class="menu">
        {% for menuitem in menu.get_items %}
            <li class="menu-item">
                <a href="{{ menuitem.get_link }}">{{ menuitem.title }}</a>
            </li>
                
            {# {% if not menuitem.current and function('is_front_page') %}
                <li>
                    <a data-to-color="green" href="{{ menuitem.get_link }}">{{ menuitem.title }}</a>
                </li>
            {% endif %} #}
        {% endfor %}
    </ul>

    {# TODO SWITCH #}
    {# <ul class="language-toggle">
        <li><a href="#" class="not-active">EN</a>/</li>
        <li><a href="#">NL</a></li>
    </ul> #}
</nav>