<div class="cb cb--imageslider">
{% if block.images|length == 1 %}
    {% if block.images[0] %}
        <img {{ block.images[0].image.id|get_timber_image_responsive('slider') }}>
    {% endif %}
        {% else %}
        <button type="button" class="control prev">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </button>
        <button type="button" class="control next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </button>
        <div class="slider">
            {% for image in block.images %}
                {% if image.image %}
                    <img {{ image.image.id|get_timber_image_responsive('slider') }}>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
</div> 