{# TODO SWITCH #}
{# <ul class="language-toggle">
    <li><a href="#" class="not-active">EN</a>/</li>
    <li><a href="#">NL</a></li>
</ul> #}

{# {{site.language}} #}

<ul class="language-toggle">
    {% do fn('pll_the_languages') %}
</ul> 



