<div class="together">
    <img class="lazy" data-original="{{theme.link}}/assets/img/cantiga_teatral2.jpg" alt="cantiga teatral"  width="2400" height="1004"/>
    <noscript><img src="{{theme.link}}/assets/img/cantiga_teatral2.jpg" alt="cantiga teatral" /></noscript>
</div>