<div class="together">
    <img class="lazy" data-original="{{theme.link}}/assets/img/cantiga_teatral2.jpg" alt="" />
    <noscript><img src="{{theme.link}}/assets/img/cantiga_teatral2.jpg" alt="" /></noscript>
</div>