.aside{
    &__title{
        margin-bottom: 1rem;
    }
    &__value{
        display: block;
        // margin-bottom: 1rem;
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
}

.map {
	width: 100%;
	height: 250px;
	// border: #ccc solid 1px;
	margin: 20px 0;
}

.map img {
   max-width: inherit !important;
}