.comments{
    &__group{
        margin-top: 2rem;
    }
    .comment{
        &__title{
            margin: 0 0 2rem;
        }
        &__revised{
            font-size: 12px;
        }
        &__form{
            input, textarea{
                -webkit-appearance: none;
                color: rgba(0, 0, 0, 0.75);
                font-size: 13px;
                box-sizing: border-box;
                margin-top: 5px;
                background-color: #f7f7f7;
                border: none;
                // padding: 11px;
                padding: 8px;
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                resize: none;
            }
            input {
                width: 50%;
            }
            textarea {
                width:100%;
            }
            button{
                & + button{
                    margin-left: 5px;
                }
            }
            &__container{
                border: 1px solid rgba(184,184,184,.2);
                padding: 2rem;
            }
        }
        &__form__block{
            position: relative;
            display: flex;
            flex-direction: column;
            label{
                font-size: 13px;
                line-height: 13px;
            }
            &--input{
                float: left;
                margin-right: 3%;
                margin-bottom: 10px;
                input{
                    width: 100%;
                }
                & + .comment__form__block--input {
                    margin-right:0%;
                }
            }
            &--textarea{
                margin-top: 10px;
                margin-bottom: 2rem;
                textarea{
                    width: 100%;
                }
            }
        }
        display: flex;
        font-size: 16px;
        line-height: 23px;
        padding: 20px 0 15px;
        &__user {
            background-color: $black;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            .fa {
                color: $white;
                font-size: 20px;
            }
            margin-right: 20px;
        }
        &__details {
            width: calc( 100% - 50px );
            p {
                &:first-child {
                    font-size: 15px;
                }
            }
        }
        &__author {
            font-weight: bold;
        }
        &__content {
            margin-top: 5px;
        }
        & + .comment {
            // margin-top: 1.5rem;
            border-top: 1px solid rgba(184, 184, 184, 0.2);
        }
    }
}

@media only screen and (max-width: 600px) {
    .comments{
        .comment{
            &__form__block{
                &--input{
                    float: initial;
                    margin-right: 0;
                    width: 100%;
                }
            }
        }
    }
}
