header, .header--subnavigation{
    width: 100%;
    // background-color: rgba(255, 255, 255, 0.9);
    background-color: #fff;
    z-index: 11;
    position: fixed;
    // opacity: 0;
    @include transition (.3s);
    .header_inner, &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5.5rem;
        .logo{
            z-index: 1;
            img, svg{
                height: 45px;
                fill: #000;
                #dot{
                    fill: #000;
                    @include transition (.3s);
                }
            }
            &:hover{
                svg{
                    #dot{
                        // fill: #c9c9c9;
                        // fill: #45ffb3;
                        fill: #aff4d5;
                    }
                }
            }
        }
        nav{
            display: flex;
            align-items: center;
            .menu, .language-toggle{
                display: flex;
                justify-content: flex-end; 
                text-transform: uppercase; 
                margin: 0;
                padding: 0;
                li{
                    position: relative;
                    padding: 10px 0;
                    display: inline-block;
                    @include transition (.3s);
                    a, span{
                        font-size: 14px;
                        padding: 10px;
                        color: $black;
                        font-weight: 500;
                        @include transition (.3s);
                    }
                    &.menu-item__parent{
                        span{
                            padding-right: 0;
                        }
                        &--active{
                            span{
                                color: $grey-light;
                            }
                        }
                    }
                    &.active, &:hover, &:focus{
                        a, span{
                            color: $grey-light;
                            cursor: pointer;
                        }
                    }
                    &.current-lang{
                        a{
                            font-weight: bold;
                        }
                    }
                }
            }
            .language-toggle{
                margin-left: 20px;
                align-items: center;
                li{
                    padding-right: 0;
                    position: relative;
                    &:first-child{
                        padding-right: 0;
                    }
                    &:last-child{
                        padding-left: 0; 
                    }
                    & + li{
                        &:before {
                            content: " | ";
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            left: -1px;
                        }
                    }
                    a{
                        font-weight: 300;
                        &.not-active {
                            font-weight: 500;
                            pointer-events: none;
                            cursor: default;
                            color: #000;
                        }
                    }
                }
            }
        }
        .hamburger-menu{
            display: none;
        }
    }

}

@media only screen and (max-width: 767px) {
    header{
        .header_inner{
            .hamburger-menu{
                display: block;
            }
            nav{
                // box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
                position: fixed;
                width: 100vw;
                height: 100%;
                @include transition (.3s);
                top: 0;
                right: 0;
                padding: 5.5rem 0 0;
                background-color: $white;
                transform-origin: 0% 0%;
                transform: translate(100%, 0);
                transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                .menu{
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 100vw;
                    height: 100%;
                    @include transition (.3s);
                    background-color: darken($white, 5%);
                    li{
                        padding: 0;
                        a, span{
                            font-size: 28px;
                            &:hover{
                                color: white;
                            }
                        }
                        &.menu-item__parent{
                            span{
                                padding-right: 10px;
                                color: $black;
                            }
                            &--active{
                                span{
                                    color: $white;
                                }
                            }
                        }
                    }
                }
                .language-toggle{
                    margin-left: 0;
                    padding: 0 20px 10px 0;
                }
                // &.open{
                //     transform: translate(0%, 0);
                // }
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    header{
        .header_inner{
            .logo{
                img, svg{
                    height: 36px;
                }
            }
            // nav{
            //     // width: 100%;
            //     .menu{
            //         // align-items: center;
            //         li{
            //             a, span{
            //                 font-size: 30px;
            //             }
            //         }
            //     }
            // }
        }
    }
}

body{
    &.menu-open{
        .header{
            &_inner{
                nav{
                    transform: translate(0%, 0);
                }
            }
        }
    }
}

