{% extends 'base.twig' %}

{% block content %}

	home

	<div class="container">
		<div class="row">
          <div class="col-1">
            <p>
              one
            </p>
          </div>
          <div class="col-11">
            <p>
              eleven
            </p>
          </div>
        </div>
		</div>

    {% if post.blocks %}{% include 'partials/contentblocks.twig' %}{% endif %}

{% endblock %}
